:root{
    --purple: #AF5A9D;
    --gray: #333333;
    --gray2: #444343;
    --gray3: #E1E1E1;
}

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:"Montserrat", sans-serif;
     overflow-x: hidden;
    width: 100%;
}

.page-hero {
  position: relative;
  background-image: url("images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  width: 100%;
  min-height: 100vh;
}

.header {
    top:0;
    padding-block: 13px;  
    position: fixed; 
    width: 100%;
    z-index: 999;
    background: rgba(255, 255, 255, 0.153);
    backdrop-filter: blur(10px);
     -webkit-backdrop-filter: blur(10px);
}

.header_container {
    max-width: 1216px;

    margin-inline: auto;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_list {
    display: flex;
    gap: 60px;
}

ul {
    list-style: none;
}


.header_list-link {
    font-weight: 600;
    font-size: 15px;
    letter-spacing: -0.47px;
    color: var(--gray);
    transition: color 0.3s;
}

.header_list-link.active{
    color: var(--purple);
    border-bottom: 2px solid var(--gray);
    padding-bottom: 5px;
}

.header_list-link:hover{
    color: var(--purple);
}

a{
    text-decoration: none
}

.header_button {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: -0.53px;
    color: var(--gray);
    padding: 10px 30px;
    background: transparent;
    backdrop-filter: blur(10px);
     -webkit-background-filter: blur(10px);
    border-radius: 10px;
    gap: 10px;
    align-items: center;
    display: flex;
    transition: 0.3s;
}

.header_button:hover{
    opacity: 80%;
    color: var(--purple);
}

main{
    margin-top: 0;
}

.hero{
    display: flex;
    overflow: hidden;
    min-height: 100vh;
    padding-top: 80px;
    overflow-x: hidden;
    width: 100%;
}

.hero_content {
    max-width: 500px;
    padding-bottom: 90px;
    padding-top: 4%;
    padding-left: 2%;

    
}

.hero_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
}



.hero_image {
    flex: 1;
    height: auto;
     -webkit-mask-image: linear-gradient(
    to bottom,
    black 70%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    black 70%,
    transparent 100%
  );
}

.hero_title {
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 2.5px;
    line-height: 50px;
    color: var(--gray);
}

.hero_desc {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    letter-spacing: 0%;
    line-height: 140.4%;
    color: var(--gray2);
    margin-top: 30px;
}

.hero_buttons {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    
}

.hero_button {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0%;
    color: white;
    padding: 15px 40px;
    background: var(--purple);
    border-radius: 24px;
    align-items: center;
    transition: 0.3s;
    
    display: inline-flex;
    
    width: fit-content;
}

.hero_button:hover{
    opacity: 80%;
}

.hero_scroll {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.why{
    position: relative;
    padding-block: 200px;
    width: 100%;
    margin-inline: auto;
}



.why_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    
}

.why_list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;

}

.why_logo-img1{
    width: 309px;
    height: 93px;
}

.why_text{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 2.5px;
    line-height: 59px;
    color: var(--black);
    font-family: "Montserrat", sans-serif;
}

.catalog{
    background: #FDECE8;
}

.catalog_container{
    display: flex;
    width: 100%;
 
    line-height: 50px;
    
    flex-direction: column;
    justify-content: space-between;
}

.catalog_text{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.catalog_categories{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}


.catalog_category{

}

.catalog_list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 25px;
}

.catalog_cards{
    
}

.catalog_card{

}

.catalog_list-link {
    padding: 7px 35px;
    border: 1px solid #CBCBCB;
    border-radius: 12px;
    font-size: 14px;
    color: #333;
    transition: 0.3s;
    display: inline-block;
    line-height: normal;
}

.catalog_list-link.active, .catalog_list-link:hover {
    background-color: var(--gray3);
    color: black;
    border-color: var(--gray3);
}

.galery{
    
}

.galery_container{
    max-width: 1216px;
    margin-inline: auto;
    line-height: 50px;
}

.galery_title{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.galery_grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-inline: auto;
    grid-auto-rows: 160px;
    grid-auto-flow: dense;
    padding-top: 30px;
}

.galery_item {
    overflow: hidden;
    border-radius: 15px;
}

.galery_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-1 { grid-column: 1; grid-row: 1; }
.item-2 { grid-column: 2 / 4; grid-row: 1 / 3; }
.item-3 { grid-column: 4; grid-row: 1 / 4; }
.item-4 { grid-column: 5; grid-row: 1; }

.item-5 { grid-column: 1 / 3; grid-row: 2/4; }
.item-6 { grid-column: 2; grid-row: 3; }
.item-7 { grid-column: 3; grid-row: 2; }
.item-8 { grid-column: 4; grid-row: 2; }
.item-9 { grid-column: 5; grid-row: 3; }
.item-10 { grid-column: 1; grid-row: 4/6; }
.item-11 { grid-column: 2/4; grid-row: 5; }

.item-5 { grid-column: span 1;}

.item-6 { grid-row: span 2; }
.item-7 { grid-row: span 2; }
.item-8 { grid-row: span 2; grid-column: span 2; }
.item-9 { grid-row: span 2; }

.about{
   position: relative;
    
}

.about_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    overflow: hidden;
    margin-inline: auto;

}

.about_content{
    display: flex;
    max-width: 450px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.about_title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 2.5px;
    line-height: 59px;
    color: var(--black);
    font-family: "Montserrat", sans-serif;
    
}

.about_desc{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    letter-spacing: 0%;
    line-height: 140.4%;
    color: var(--gray2);
    padding-left: 5%;
}

.about_link{
    margin-top: 30px;
    color: var(--purple);
    padding-left: 5%;
}
.about_link:hover{
    text-decoration: underline;
}

.about_image{
    display: flex;
    align-items: center;
    padding-top: 60px;
    right: 0px;
    pointer-events: none;
    z-index: 1;
    max-height: 90%;
 
}

@media (max-width: 1200px) {
    .hero_container {
        flex-direction: flex;
        padding-left: 0;
        padding-right: 0;
        gap: 20px;
        overflow: visible;
        max-width: 100%;
    }
    
    .hero_image {
        padding-top: 5%;
        flex: none;
        width: 50%;

    }
    
    .hero_content {
        max-width: 100%;
        padding-inline: 20px;
        width: 100%;
        padding-block: 60px;


    }

    .hero_title {
        font-size: 30px;
        line-height: 30px;
    }

    .hero_desc {
        font-size: 16px;
}
@media (max-width: 992px) {

    .hero_image {
        padding-top: 0px;
    }

    .why{
        padding-block: 100px;
    }

        .why_text {
            font-size: 35px;
            line-height: 100%;
            display: flex;
                justify-content: center;
                text-align: center;
        }
}
@media (max-width: 768px) {
    html, body {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }
    
    .hero_container {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        gap: 20px;
        overflow: visible;
        max-width: 100%;
    }
    
    .hero_image {
        padding-top: 50px;
        flex: none;
        width: 100%;
        order: -1;
    }
    
    .hero_content {
        max-width: 100%;
        padding-inline: 20px;
        width: 100%;
        padding-block: 60px;
        order:1;
        padding-top: 0px;
    }
    
    .hero_title {
        font-size: 45px;
        line-height: 35px;
    }
    
    .hero_desc {
        font-size: 16px;
    }
    
    .why{
        padding-block: 100px;
    }

    .why_text {
        font-size: 35px;
        line-height: 100%;
        display: flex;
            justify-content: center;
            text-align: center;
    }

    .galery_grid {
        padding-inline: 5%;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 120px;
    }
    
    .item-1 { grid-column: 1; grid-row: 1; }
    .item-2 { grid-column: 2 / 3; grid-row: 1; }
    .item-3 { grid-column: 3; grid-row: 1; }
    .item-4 { grid-column: 1; grid-row: 2; }
    .item-5 { grid-column: 2; grid-row: 2; }
    .item-6 { grid-column: 3; grid-row: 2; }
    .item-7 { grid-column: 1; grid-row: 3; }
    .item-8 { grid-column: 2; grid-row: 3; }
    .item-9 { grid-column: 3; grid-row: 3; }
    .item-10 { grid-column: 1; grid-row: 4; }
    .item-11 { grid-column: 2 / 3; grid-row: 4; }

    .about_container {
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
        gap: 20px;
    }

        .about_image {
            max-width: 100%;
            height: auto;
        }

    .about_content{
        padding-top: 10%;
    }
}
@media (max-width: 480px) {
    .hero_title {
        font-size: 30px;
        line-height: 28px;
        letter-spacing: 2%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .hero_desc {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 18px;
    }
    
    .hero_container {

    }

    .hero_content{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .hero_buttons {
        flex-direction: column;
        gap: 15px;
    }
    
    .why_text {
        font-size: 24px;
        line-height: 100%;
        display: flex;
            justify-content: center;
            text-align: center;
    }

    .galery_grid {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 100px;
        gap: 10px;
    }
    
    .item-1 { grid-column: 1; grid-row: 1; }
    .item-2 { grid-column: 2; grid-row: 1; }
    .item-3 { grid-column: 1; grid-row: 2; }
    .item-4 { grid-column: 2; grid-row: 2; }
    .item-5 { grid-column: 1; grid-row: 3; }
    .item-6 { grid-column: 2; grid-row: 3; }
    .item-7 { grid-column: 1; grid-row: 4; }
    .item-8 { grid-column: 2; grid-row: 4; }
    .item-9 { grid-column: 1; grid-row: 5; }
    .item-10 { grid-column: 2; grid-row: 5; }
    .item-11 { grid-column: 1 / 3; grid-row: 6; }


}
@media (max-width: 320px) {

}